@font-face {
    font-family: 'JetBrainsMono';
    src: url('/JetBrains_Mono/static/JetBrainsMono-Light.ttf');
}

body {
    font-family: 'JetBrainsMono', serif;
    margin: 10px;
    padding: 0;
    background-color: #2f3032;
}

a {
    color: white;
}

span {
    color: white;
}

.container {
    width: 50%;
    margin: auto;
}

.title {
    margin-top: 50px;
    text-align: center;
}

.titleName {
    font-size: 50px;
    color: white;
}

.jsonName {
    color: rgb(147, 208, 240);
}

.jsonValue {
    color: rgb(203, 143, 118);;
}

.titleProfession {
    font-size: 20px;
    color: white;
}

span.tag {
    color: #a91e50;
}

.tagcontent {
    color: #c7ac3c;
    padding: 5px;
    font-size: 20px;
}

.section {
    margin: 50px auto auto;
    padding: 10px;
    border: 1px white solid;
    border-radius: 5px;
}

.sectionTitle {
    font-size: 30px;
    color: white;
}

.sectioncontent {
    border: 1px white solid;
    border-radius: 5px;
}

.multiplesections {
    display: flex;
    justify-content: space-between;
}

td.contact {
    padding: 5px;
}

td.aboutme {
    padding: 5px;
}

.icon {
    -webkit-filter: invert(100%);
}

.educationcontent {
    margin: 15px;
}

span.education {
    font-size: 20px;
}

.educationinfo {
    margin-left: 5px;
}

.experiencecontent {
    margin: 15px;
}

span.experience {
    font-size: 20px;
}

.experienceinfo {
    margin-left: 5px;
}

.gray {
    color: gray;
}

.goldish {
    color: #c7ac3c;
}