@font-face {
  font-family: 'JetBrainsMonoLight';
  src: url('./assets/fonts/JetBrainsMono-Light.ttf') format('truetype');
}

:root {
  --themeColor: #fff;
  --themeBackgroundColor: #2f3032;
  --themeJsonNameColor: #93D0F0;
  --themeJsonValueColor: #CB8F76;

}

body {
  font-family: 'JetBrainsMonoLight', sans-serif;
  margin: 10px;
  padding: 0;
  background-color: var(--themeBackgroundColor);
}

#main {
  width: 60%;
  margin: auto;
}

li {
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  font-size: 50px;
}

.jsonName {
  color: var(--themeJsonNameColor);
}

.jsonValue {
  color: var(--themeJsonValueColor);
}

.jsonBrackets {
  color: var(--themeColor);
}

.ejsTag {
  color: #a91e50;
  font-size: 28px;
}

.sectionTitleValue {
  color: var(--themeColor);
  font-size: 28px;
}

.section {
  border-radius: 5px;
  display: flex;
  margin-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;

}

.subSectionTitle {
  color: #c7ac3c;
  font-size: 22px;
}

.subSection {
  border-radius: 5px;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: flex;
  justify-content: flex-start;
  padding: 8px 0;
  font-size: 20px;
  color: var(--themeColor);
  width: 100%;
  flex-direction: column;
}

ul li svg {
  margin-right: 10px;
  font-size: 20px;
  color: #888787;
}

.iconList {
    display: flex;
    justify-content: flex-start;
}

a {
  color: var(--themeColor);
  text-decoration: underline;
}

p.list {
  margin: 0;
  padding: 0;
}

.multipleList {
  align-items: flex-start;
}

.elaborationList {
  margin-left: 8px;
}

.elaboration {
  margin: 0;
  padding: 0;
}

li span.moreInfo {
    color: gray;
}

.gold {
  color: #c7ac3c;
}

#theme {
  position: fixed;
  bottom: 15px;
  right: 15px;
  color: var(--themeColor);
  width: 50px;
  height: 50px;
}

#theme svg {
  width: 50px;
  height: 50px;
}